flask==1.1.2
gunicorn==20.0.4
numpy==1.19.5
torch==1.7.0
torchvision==0.8.1
scipy==1.5.4
Pillow==8.1.1
imgaug==0.4.0
h5py==2.10.0
opencv-python==4.5.1.48
scikit_image==0.17.2
requests==2.25.1
hsh==1.1.0
tqdm==4.56.0
more_itertools==8.7.0
moviepy==1.0.3
ffmpeg_python==0.2.0
