<html>
  <head>
    <title>LFM Test</title>
  </head>
  <body>
  <div align="center" id="lfm">
    <h1>Upload a file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 50%">
    {% endfor %}
    {% for video_file in video_files %}
      <video controls="" autoplay="" name="media">
        <source src={{ url_for('upload', filename=video_file) }} type="video/mp4">
         Your browser does not support the video tag.
      </video>
    {% endfor %}
  </div>
  </body>
</html>
